<header class="hero-header">
    <div class="account">
        <a href="/" class="app-logo">
            <img src="./images/logo.png" alt="Logo" />
        </a>

        <% let avatar = locals.gender == "male" ? "yousif" : "mariam"; %>

        <a href="/profile" class="user">
            <img
                src="./images/characters/<%= avatar %>.png"
                alt="Teacher Avatar"
            />
            <p><%= locals.username %></p>
        </a>
    </div>

    <% if (locals.page == "app") { %>
    <div class="header-btns">
        <a class="button create-class-opener">
            <i class="fa-solid fa-plus"></i>
        </a>

        <a
            class="button leaderboard-btn"
            href="/leaderboard"
            title="Leaderboard"
        >
            <i class="fa-solid fa-ranking-star"></i>
        </a>

        <!-- hidden page -->
        <!-- <a class="button rewards-btn" href="/rewards" title="Rewards Roullete">
            <i class="fa-solid fa-gift"></i>
        </a> -->

        <a class="button logout-btn" title="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </div>
    <% } %>
</header>
