<header class="hero-header">
    <div class="account">
        <a href="/" class="app-logo">
            <img src="./images/logo.png" alt="Logo" />
        </a>

        <a href="/profile" class="user">
            <img
                src="./images/characters/<%= locals.gender == 'female' ? 'mariam' : 'yousif' %>.png"
                alt="Teacher Avatar"
            />
            <p><%= locals.username %></p>
        </a>
    </div>

    <% if (locals.page == "app") { %>
    <div class="header-btns">
        <button class="create-class-opener">
            <i class="fa-solid fa-plus"></i>
        </button>
        <a class="leaderboard-btn" href="/leaderboard">
            <button title="Leaderboard">
                <i class="fa-solid fa-ranking-star"></i>
            </button>
        </a>
        <button class="logout-btn" title="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
    <% } %>
</header>
