<!DOCTYPE html>
<html lang="en" class="home">
    <%- include("./partials/head") %>

    <body>
        <!-- Home Sections -->
        <section class="landing">
            <header>
                <div class="brand">
                    <h2>Welcome to</h2>
                    <h1>WeSchool</h1>
                    <img src="./images/logo.png" alt="Logo" />
                </div>

                <nav class="nav">
                    <a href="/login" class="login-btn"> Login </a>
                    <a href="/signup" class="signup-btn"> Signup </a>
                </nav>
            </header>

            <div class="phrase">
                <p>
                    Manage crediting your students easily with
                    <span>WeSchool</span>
                </p>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <p>
                    Create a digital class and mark your students according to
                    their achievements!
                </p>

                <img
                    src="./images/characters/yousif.png"
                    alt="Teacher"
                    class="char-one"
                />

                <img
                    src="./images/characters/amro.png"
                    alt="Teacher"
                    class="char-two"
                />

                <img
                    src="./images/characters/fahad.png"
                    alt="Teacher"
                    class="char-three"
                />

                <img
                    src="./images/characters/sara.png"
                    alt="Teacher"
                    class="char-four"
                />

                <img
                    src="./images/characters/saleem.png"
                    alt="Teacher"
                    class="char-five"
                />
            </div>
        </section>

        <section class="ranking">
            <div class="container">
                <div class="text">
                    <p>Let your students compete over the highest places!</p>

                    <a href="/leaderboard">
                        <button>
                            Leaderboard
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </a>
                </div>

                <img src="./images/ranking.png" alt="Ranking" />
            </div>
        </section>

        <footer class="landing-footer">
            Built by <a href="https://github.com/MoBakour">MoBakour</a>
        </footer>

        <!-- Blob -->
        <img
            src="./images/blobs/blob-one.svg"
            alt="Blob"
            class="blob blob-one"
        />

        <img
            src="./images/blobs/blob-two.svg"
            alt="Blob"
            class="blob blob-two"
        />

        <img
            src="./images/blobs/blob-three.svg"
            alt="Blob"
            class="blob blob-three"
        />

        <img
            src="./images/blobs/blob-one.svg"
            alt="Blob"
            class="blob blob-four"
        />
    </body>
</html>
