<!DOCTYPE html>
<html lang="en" class="home">
    <%- include("./partials/head") %>

    <body>
        <section class="landing">
            <header>
                <div class="brand">
                    <h2>Welcome to</h2>
                    <h1>HeroApp</h1>
                    <img src="./images/logo.png" alt="Logo" />
                </div>

                <nav class="nav">
                    <a href="/login" class="login-btn"> Login </a>
                    <a href="/signup" class="signup-btn"> Signup </a>
                </nav>
            </header>

            <div class="phrase">
                <p>
                    Manage crediting your students easily with
                    <span>HeroApp</span>
                </p>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <p>
                    Create a digital class and mark your students according to
                    their achievements!
                </p>

                <img
                    src="./images/characters/yousif.png"
                    alt="Teacher"
                    class="char-one"
                />

                <img
                    src="./images/characters/amro.png"
                    alt="Teacher"
                    class="char-two"
                />

                <img
                    src="./images/characters/fahad.png"
                    alt="Teacher"
                    class="char-three"
                />

                <img
                    src="./images/characters/sara.png"
                    alt="Teacher"
                    class="char-four"
                />

                <img
                    src="./images/characters/saleem.png"
                    alt="Teacher"
                    class="char-five"
                />
            </div>
        </section>

        <section class="ranking">
            <div class="container">
                <div class="text">
                    <p>Let your students compete over the highest places!</p>

                    <a href="/leaderboard">
                        <button>
                            Leaderboard
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </a>
                </div>

                <img src="./images/ranking.png" alt="Ranking" />
            </div>
        </section>

        <section class="contact">
            <div class="container">
                <h3>Keep in touch!</h3>

                <div class="contacts">
                    <a class="contacts-at" title="@swordax.sy">
                        <i class="fa-solid fa-at"></i>
                    </a>

                    <a
                        href="https://discord.com/users/465453058667839499/"
                        class="contacts-discord"
                        title="Swordax#5756"
                        target="_blank"
                    >
                        <i class="fa-brands fa-discord"></i>
                    </a>

                    <a
                        href="mailto:swordax.sy@gmail.com"
                        class="contacts-mail"
                        title="swordax.sy@gmail.com"
                        target="_blank"
                    >
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </div>
            </div>
        </section>

        <!-- Tooltip -->
        <div class="tooltip">
            <p>@swordax.sy copied!</p>
        </div>

        <!-- Scroller -->
        <div class="scroller">
            <button class="scroller-up" title="Scroll up">
                <i class="fa-solid fa-chevron-up"></i>
            </button>

            <button class="scroller-down" title="Scroll down">
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>

        <!-- Blob -->
        <img
            src="./images/blobs/blob-one.svg"
            alt="Blob"
            class="blob blob-one"
        />

        <img
            src="./images/blobs/blob-two.svg"
            alt="Blob"
            class="blob blob-two"
        />

        <img
            src="./images/blobs/blob-three.svg"
            alt="Blob"
            class="blob blob-three"
        />

        <img
            src="./images/blobs/blob-one.svg"
            alt="Blob"
            class="blob blob-four"
        />

        <!-- Scripts -->
        <script src="./scripts/home.js" defer></script>
    </body>
</html>
