@use "../abstracts" as *;

.sign body {
    @include flex;
}

.sign {
    form {
        width: 240px;
        padding: 12px;
        border-radius: 20px;

        background-color: white;
        box-shadow: 2px 2px 20px 0 rgba(black, 0.3);

        header {
            @include flex($just: space-between);

            margin-bottom: 20px;

            h1 {
                font-size: 36px;
            }

            a {
                @include flex;

                img {
                    width: 40px;
                    border-radius: 10px;
                }
            }
        }

        section {
            .input-field {
                @include flex($just: space-evenly);

                padding: 10px 0;
                position: relative;

                input {
                    width: 100%;
                    padding: 4px;
                    font-size: 20px;

                    border: none;
                    outline: none;
                    border-bottom: 2px solid black;
                }

                .selection {
                    @include flex($just: flex-start);

                    margin: 0 6px;
                    cursor: pointer;

                    .option {
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;

                        border-radius: 50%;
                        border: 2px solid $mainColor;

                        transition: $transition;
                    }

                    strong {
                        color: $mainColor;
                    }

                    &.active .option {
                        background-color: $mainColor;
                    }
                }

                button {
                    @include button();
                    // button mixin defaults:
                    //      font-size => 20px
                    //      border-radius => 12px
                }
            }
        }
    }

    .blob {
        &-one {
            width: 40vw;
            left: 10%;
        }

        &-two {
            width: 30vw;
            right: -10%;
        }
    }
}
